<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
類別  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    {{#each categorys}}
    <li><button class="dropdown-item" type="button">Action</button></li>
 <option value="{{ this.categoryName }}"selected >{{ this.categoryName }}</option>
    {{/each}}
  </ul>
</div>

<ul>
  {{#each records}}
    <li>
      {{this.name}}/{{this.category}}/{{this.date}}/{{this.amount}}
    </li>
  {{/each}}
</ul>